/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */
*{
    box-sizing:border-box; /*this rule says, if I give an element a width I want it to respect that width - if I add padding or a border, apply it within the width given not in addition to it*/
    /* border:1px solid gray; */
    max-width:100%; /*this says you can never be bigger than your parent*/
}
html {
    font-size: 62.5%
}
body {
    font-size: 1.6rem;
    line-height: 1.25;
    background-image: url("/assets/darktechsmall.jpg");
    background-repeat: repeat;
    color: rgb(250, 250, 255);
}

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 1px solid red; */
    max-width: 1200px;
}
nav {
    width: 100%;
    display:flex;
    height:30px;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    height: 30px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30px;
    /* border: 2px solid rgb(3, 0, 46);
    border-left: 1px solid black;
    border-right: 1px solid black; */
    font-size: 1.5rem;
}
li a {
    text-decoration: none;
    color: rgb(250, 250, 255);;
}
.shader {
    background-color: rgba(67,66,99,0.5);
}
li:hover {
    background-color: rgba(148, 147, 184, 0.5);
}

h1 {
    font-size: 4rem;
    margin: 4% 2% 2% 2%;
    color: white;
}

h2 {
    font-size: 2.5rem;
    margin: 2%;
}

header p {
    width: 50%;
    text-align: center;
    margin-bottom: 2%;
}

.banner {
    width: 94%;
    height: 200px;
    padding: 3%;
    /* background-color: gray; */
    /* border: 5px dotted red; */
    background-image: url("/assets/banner.jpg");
    background-repeat: repeat;
    opacity: 0.7;
    /* max-width: 1200px; */
}

.pContainer {
    width: 98%;
    margin: 1%;
    display: flex;
    /* border: 1px solid orange; */
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.pBox {
    width: 200px;
    height: 300px;
    /* border: 1px solid blue; */
    /* flex-grow: 1; */
    margin: 1%;
    background-image: url("/assets/p1banner.jpg");
    opacity: 0.7;
}
/* .p1,.p2,.p3,.p4 {
    flex-grow: 1;
} */

.description {
    /* width: 11%;
    height: 70%; */
    /* border: 1px solid blue; */
    /* flex-grow: 1; */
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-image: none;
    background-color: rgb(5, 5, 5, 0.8);
}

.p1:hover,.p2:hover,.p3:hover,.p4:hover {
    /* flex-grow: 6; */
    height: 375px;
    width: 250px;
    opacity: 1;
}

footer {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 19, 46, 0.4);
    /* position: fixed;
    left: 0;
    bottom: 0; */
}

footer .contact {
        background-color: rgba(67,66,99,0.3);
}
footer .contact:hover {
    background-color: rgba(95, 94, 133, 0.5);
}
footer .contact a {
    text-decoration: none;
    color:rgb(250, 250, 255);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 5px solid green; */
}

/* ABOUT */

.aboutimg {
    width: 600px;
    height: 400px;
    margin-bottom: 10%;
    background-image: url("/assets/banner.jpg");
    opacity: 0.7;
    background-repeat: repeat;
    /* border: 2px solid orange; */
}

/* CONTACT */

.contactBox {
    width: 800px;
    height: 300px;
    background-color: rgb(5, 5, 5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.cbox {
    width: 250px;
    height: 250px;
}

.cbox a {
    
}
.cbox a img {
    width: 250px;
    height: 250px;
    opacity: .8;
}

/* HOME PAGE MEDIA QUERY */

@media(max-width:800px){
    .aboutimg {
        width: 450px;
        height: 300px;
    }
    header p{
        width: 80%;
    }
    
}

@media(max-width:500px){
    .aboutimg{
        width: 300px;
        height: 200px;
    }
    header p{
        width: 90%;
    }
    .banner{
        height: 100px;
    }
}

/* PROJECTS PAGE MEDIA QUERY */ 