/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

header {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 1px solid red; */
}

ul {
    display: flex;
    flex-flow: row nowrap;
    width: 400px;
    height: 50px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    margin: 2%;
}

h2 {
    font-size: 2rem;
    margin: 2%;
}

header p {
    width: 70%;
    text-align: center;
    margin-bottom: 2%;
}

.banner {
    width: 98%;
    height: 200px;
    margin: 1%;
    background-color: gray;
    /* border: 5px dotted red; */
    background-image: url("/assets/banner.jpg");
    background-repeat: repeat;
}

.pContainer {
    width: 98%;
    margin: 1%;
    height: 450px;
    display: flex;
    border: 1px solid orange;
    flex-flow: row wrap;
    align-items: center;
}

.pBox {
    width: 15%;
    height: 75%;
    border: 1px solid blue;
    flex-grow: 1;
    margin: 1%;
}

.description {
    width: 15%;
    height: 75%;
    border: 1px solid blue;
    flex-grow: 1;
    margin: 1%;
}

.pBox:hover {
    flex-grow: 6;
    height: 95%;
}